<div class="jukebox" [class.minimized]="isMinimized">
	<div class="header">
		<button (click)="toggleMinimize()" [class.active]="isMinimized" data-tooltip="Kicsinyítés/Nagyítás"
			id="minimizeButton">
			{{ isMinimized ? '⤢' : '⤡' }}
		</button>
	</div>
	<div *ngIf="!isMinimized" class="content">
		<div class="track-list">
			<h2>Dalok listája</h2>
			<ul>
				<li *ngFor="let track of tracks" (click)="play(track.filename)"
					[class.active]="currentTrack?.filename === track.filename">
					{{ track.title }} - {{ track.duration }}
				</li>
			</ul>
		</div>
		<div class="controls">
			<button (click)="stop()" data-tooltip="Leállítás">⏹</button>
			<button (click)="togglePlayPause()" [attr.data-tooltip]="getTooltipText()">
				{{ isPlaying() ? '⏸' : '⏵' }}
			</button>
			<button (click)="playPrevious()" data-tooltip="Előző">⏮</button>
			<button (click)="playNext()" data-tooltip="Következő">⏭</button>
			<button (click)="toggleLoop()" [class.active]="isLooping" data-tooltip="Ismétlés">🔁</button>
			<button (click)="toggleShuffle()" [class.active]="isShuffling" data-tooltip="Véletlenszerű lejátszás">🔀</button>
			<button (click)="toggleVisualizer()" [class.active]="showVisualizer" data-tooltip="Vizualizáló">🎵</button>
			<button (click)="toggleEqualizer()" [class.active]="showEqualizer" data-tooltip="Hangszínszabályzó">🎚</button>
			<label for="volume" style="margin-left: 20px;">🔊</label>
			<input id="volume" type="range" min="0" max="100" (input)="setVolume($event)">
		</div>
		<div [ngClass]="currentClass" *ngIf="currentTrack">
			<h3>Jelenleg lejátszva:</h3>
			<p><strong>Cím:</strong> {{ currentTrack.title }}</p>
			<p><strong>Szerző:</strong> {{ currentTrack.author }}</p>
			<p><strong>Dalszövegíró:</strong> {{ currentTrack.lyricist }}</p>
			<div class="progress-bar" (click)="seek($event)">
				<div class="progress" [style.width.%]="getProgress()"></div>
			</div>
		</div>
		<div *ngIf="!currentTrack">
			<h3>Jelenleg nincsen lejátszott dal.</h3>
		</div>
		<div class="visualizer" *ngIf="showVisualizer">
			<canvas #visualizerCanvas></canvas>
		</div>
		<div class="equalizer-controls" *ngIf="showEqualizer">
			<label>Basszus kiemelés</label>
			<input type="range" min="0" max="100" (input)="setBassBoost($event)" title="Basszus kiemelés">
			<label>Magas kiemelés</label>
			<input type="range" min="0" max="100" (input)="setTrebleBoost($event)" title="Magas kiemelés">
		</div>
	</div>
	<div *ngIf="isMinimized" class="minimized-content">
		<div class="minimized-visualizer">
			<canvas #visualizerCanvas></canvas>
		</div>
		<div class="track-info">
			<p><strong>{{ currentTrack ? 'Cím:' : 'Jelenleg nincsen lejátszott dal.' }} {{ currentTrack?.title }}</strong></p>
		</div>
		<div class="progress-bar" (click)="seek($event)">
			<div class="progress" [style.width.%]="getProgress()"></div>
		</div>
		<div class="controls">
			<button (click)="togglePlayPause()" [attr.data-tooltip]="getTooltipText()">
				{{ isPlaying() ? '⏸' : '⏵' }}
			</button>
			<button (click)="stop()" data-tooltip="Leállítás">⏹</button>
			<button (click)="playPrevious()" data-tooltip="Előző">⏮</button>
			<button (click)="playNext()" data-tooltip="Következő">⏭</button>
			<label for="volume" id="volumeID" style="margin-left: 20px;">🔊</label>
			<input id="volume" type="range" min="0" max="100" (input)="setVolume($event)">
		</div>
	</div>
</div>