<footer class="footer mt-auto py-5 bg-dark text-white position-relative">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-4 mb-4 mb-md-0">
				<h5 class="footer-title">Chronica Arcana</h5>
				<p class="footer-description">Enter a world of ancient secrets and forbidden knowledge.</p>
			</div>
			<div class="col-md-4 mb-4 mb-md-0">
				<h5 class="footer-title">Fedezd fel</h5>
				<ul class="footer-links list-unstyled">
					<li><a class="footer-link" routerLink="/monsters">Szörnyek</a></li>
					<li><a class="footer-link" routerLink="/adventures">Kalandok</a></li>
					<li><a class="footer-link" routerLink="/characters">Karakterek</a></li>
					<li><a class="footer-link" routerLink="/classes">Osztályok</a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<h5 class="footer-title">Kövess minket</h5>
				<div class="footer-socials">
					<a href="#" class="footer-social-link"><i class="fab fa-facebook fa-2x"></i></a>
					<a href="#" class="footer-social-link"><i class="fab fa-twitter fa-2x"></i></a>
					<a href="#" class="footer-social-link"><i class="fab fa-instagram fa-2x"></i></a>
				</div>
			</div>
		</div>
		<div class="footer-bottom mt-5">
			<span class="footer-copyright">© 2024 Chronica Arcana. Minden jog fenntartva.</span>
		</div>
	</div>
	<div class="footer-decoration">
		<div class="decor-shape shape1"></div>
		<div class="decor-shape shape2"></div>
	</div>
</footer>