<!DOCTYPE html>
<html lang="hu">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sasszemű Ahm Shere</title>
</head>

<body>
	<div class="container">
		<div class="image-container center">
			<img src="assets/sasszemu.png" alt="Sasszemű Ahm Shere képe" class="character-image">
		</div>

		<hr>

		<div class="center">
			<h2>Sasszemű Ahm Shere adatai</h2>
			<h3>Karakter adatai</h3>
		</div>

		<table class="character-table">
			<tr>
				<th>Vallás</th>
				<td>n/a (hitetlen)</td>
			</tr>
			<tr>
				<th>Jellem</th>
				<td>Halál</td>
			</tr>
			<tr>
				<th>Kaszt</th>
				<td><a (click)="scrollTo('tudok')">Tudók</a></td>
			</tr>
			<tr>
				<th>Faj</th>
				<td>Ember</td>
			</tr>
			<tr>
				<th>Jelenlegi TSz</th>
				<td>1</td>
			</tr>
			<tr>
				<th>Erő</th>
				<td>14</td>
			</tr>
			<tr>
				<th>Állóképesség</th>
				<td>8</td>
			</tr>
			<tr>
				<th>Gyorsaság</th>
				<td>16</td>
			</tr>
			<tr>
				<th>Ügyesség</th>
				<td>13</td>
			</tr>
			<tr>
				<th>Egészség</th>
				<td>15</td>
			</tr>
			<tr>
				<th>Szépség</th>
				<td>7</td>
			</tr>
			<tr>
				<th>Intelligencia</th>
				<td>13</td>
			</tr>
			<tr>
				<th>Akaraterő</th>
				<td>17</td>
			</tr>
			<tr>
				<th>Asztrál</th>
				<td>18</td>
			</tr>
			<tr>
				<th>KÉ</th>
				<td>17</td>
			</tr>
			<tr>
				<th>TÉ</th>
				<td>31</td>
			</tr>
			<tr>
				<th>VÉ</th>
				<td>82</td>
			</tr>
			<tr>
				<th>CÉ</th>
				<td>10</td>
			</tr>
			<tr>
				<th>Kp</th>
				<td>12</td>
			</tr>
			<tr>
				<th>Kp (intelligenciából)</th>
				<td>3</td>
			</tr>
			<tr>
				<th>Kp (ügyességből)</th>
				<td>3</td>
			</tr>
			<tr>
				<th>Kp/szint</th>
				<td>4</td>
			</tr>
			<tr>
				<th>Százalék/szint</th>
				<td>0</td>
			</tr>
			<tr>
				<th>Ép</th>
				<td>8</td>
			</tr>
			<tr>
				<th>Fp</th>
				<td>15</td>
			</tr>
			<tr>
				<th>Fp/szint</th>
				<td>K6+1</td>
			</tr>
			<tr>
				<th>Pp</th>
				<td>8</td>
			</tr>
			<tr>
				<th>Pp/szint</th>
				<td>4</td>
			</tr>
			<tr>
				<th>Mp</th>
				<td>8</td>
			</tr>
			<tr>
				<th>Mp/szint</th>
				<td>8</td>
			</tr>
			<tr>
				<th>Asztrális ME</th>
				<td>16</td>
			</tr>
			<tr>
				<th>Mentális ME</th>
				<td>15</td>
			</tr>
		</table>

		<hr>

		<div class="center">
			<h3>Jelenlegi képzettségek</h3>
		</div>

		<table class="character-table">
			<tr>
				<th>Képzettség</th>
				<th>Fok/%</th>
			</tr>
			<tr>
				<td>3 fegyverhasználat</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>1 fegyverdobás</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>Pszi</td>
				<td>Mf</td>
			</tr>
			<tr>
				<td>3 nyelvismeret 3., 3., 2.</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>Írás/olvasás</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>Méregkeverés/semlegesítés</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>Álcázás/álruha</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>Herbalizmus</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>Lopózás</td>
				<td>15%</td>
			</tr>
			<tr>
				<td>Rejtőzködés</td>
				<td>15%</td>
			</tr>
		</table>

		<hr>

		<div class="center">
			<h3>Következő szinteken kapható képzettségek</h3>
		</div>

		<table class="character-table">
			<tr>
				<th>TSz.</th>
				<th>Képzettség</th>
				<th>Fok/%</th>
			</tr>
			<tr>
				<td>2.</td>
				<td>Hátbaszúrás</td>
				<td>Af</td>
			</tr>
			<tr>
				<td>4.</td>
				<td>Méregkeverés/semlegesítés</td>
				<td>Mf</td>
			</tr>
			<tr>
				<td>5.</td>
				<td>Hátbaszúrás</td>
				<td>Mf</td>
			</tr>
			<tr>
				<td>6.</td>
				<td>Herbalizmus</td>
				<td>Mf</td>
			</tr>
		</table>

		<hr>

		<div class="center">
			<h3>Szintlépés</h3>
		</div>

		<table class="character-table">
			<tr>
				<th>TSz.</th>
				<th>Tapasztalati pont</th>
			</tr>
			<tr>
				<td>1.</td>
				<td>0-150</td>
			</tr>
			<tr>
				<td>2.</td>
				<td>151-300</td>
			</tr>
			<tr>
				<td>3.</td>
				<td>301-600</td>
			</tr>
			<tr>
				<td>4.</td>
				<td>601-1000</td>
			</tr>
			<tr>
				<td>5.</td>
				<td>1001-2000</td>
			</tr>
			<tr>
				<td>6.</td>
				<td>2001-4000</td>
			</tr>
			<tr>
				<td>7.</td>
				<td>4001-9000</td>
			</tr>
			<tr>
				<td>8.</td>
				<td>9001-17000</td>
			</tr>
			<tr>
				<td>9.</td>
				<td>17001-38500</td>
			</tr>
			<tr>
				<td>10.</td>
				<td>38501-58500</td>
			</tr>
			<tr>
				<td>11.</td>
				<td>58501-78500</td>
			</tr>
			<tr>
				<td>12.</td>
				<td>78501-108500</td>
			</tr>
			<tr>
				<td>Minden további szinten</td>
				<td>+31500</td>
			</tr>
		</table>

		<hr>

		<div class="center">
			<h3>Fegyverek</h3>
		</div>

		<table class="character-table">
			<tr>
				<th>Név</th>
				<th>Támadás</th>
				<th>Sebzés</th>
				<th>KÉ</th>
				<th>TÉ/CÉ</th>
				<th>VÉ/Táv</th>
				<th>Súly</th>
			</tr>
			<tr>
				<td>Rövid kard</td>
				<td>1</td>
				<td>k6+1</td>
				<td>26/9</td>
				<td>43/12</td>
				<td>96/14</td>
				<td>1.0</td>
			</tr>
		</table>

		<hr>

		<div class="center">
			<h3>Felszerelés</h3>
		</div>

		<table class="character-table">
			<tr>
				<td>Könnyű harci ló</td>
			</tr>
			<tr>
				<td>Rövid kard</td>
			</tr>
		</table>

		<hr>

		<div class="center">
			<h3>Előélet</h3>
		</div>

		<p>Sasszemű Ahm Shere életútja igen egyszerű. Mielőtt megtanulta volna a kalandozás tudományát, egy Tudó mágusnál
			inaskodott nem messze Shadon partjaitól. A varázsló (Lervunak hívták, ha elfelejtettem volna mondani eddig)
			székhelye egy toronyban volt. A kis Ahm Shere nagyon sokat játszott a Tudó-torony közelében. Amikor már elérte a
			nyolcadik életévét, a varázsló megkérte a szüleit arra, hogy taníthassa. Amint magához vette, rádöbbent arra, hogy
			"milyen jó alapanyagra bukkantam" (Részlet a Tudó naplójából). Nagyon gyorsan tanult, és nagyon sokat. Szorgalmát
			szavakba sem lehet önteni. Rendkívül bölcs ifjú volt. Mivel a varázsló tudta, sőt érezte, hogy ebből az emberből
			zseni válik, elhatározta, hogy a mindenkiben levő különleges tulajdonságot (tulajdonságokat!) felszínre hozza egy
			különleges varázslat segítségével a fiúban. Minden rendben is lett volna, ha egy kurun (lásd Bestiárium 132.o.)
			nem próbálja ellopni a fiú lelkét a szertartás közben. Lervu megpróbálta megvédeni a fiú lelkét a biztos haláltól,
			ami részben nem sikerült neki. Hosszú, véres csatában, a kurunt legyőzte, de a fiú lelkének kis részét át kellett
			ezután engednie a kurunnak. Amint felébredt Ahm Shere szinte azonnal sokkot kapott. Az idegállapota innentől sok
			kívánnivalót hagyott maga után. Egyre kiismerhetetlenebb lett a fellépése. Érzelemvilága számító, hozzáállása a
			dolgokhoz hiszékeny lett. Még egy rossz tulajdonsága az hogy nagyon kapzsi, de mentségére legyen mondva ez is csak
			a "malőr" miatt alakult ki. Ám minden rosszban van valami jó, s ez igaz Ahm Shere esetére is: ettől a naptól
			meglátta a szellemeket, s mindent olyan pontosan, akár a sas. Már 1 kilométerről(!) látott mindent.</p>
		<p>Ő maga sokáig nem tudta, hogy mitől lát ennyire pontosan. Amint ez a mágikus baleset történt, sok minden
			megváltozotott benne: egy ideig csak ült magában és a falat bámulta, később (6 hónappal) már evett is...Nem
			ismerte fel a saját szüleit, csak a mesterét, Lervut. A kedves, szelíd, bátortalan legényből igazi "vadállat"
			lett. Lopott, csalt, és több nőt megerőszakolt. A Tudó mágus, Lervu tehetetlen volt. Csak hónapok múlva "javult"
			az állapota. Lervunak tudomásul kellett vennie, hogy Ahm Shere lelkén olyan sebek vannak, amelyet még ő sem tud
			begyógyítani...</p>

		<div class="center">
			<h3>Külső tulajdonságai</h3>
			<p>Életkora 39 év, de sokkal fiatalabbnak látszik. Testmagassága 160 cm. Testsúlya 45 kg. Természete kimért,
				bölcs. Hajának színe barna. Szemének színe savószínű. Veszélyben megfontolt, körültekintő. Mindig átrágja magát
				mindenen, s csak ilyenkor cselekszik. Munka, feladat elvégzésében buzgó. Életszemlélete súlyosan cinikus.
				Hangulata hétköznapi, általános. Igényes a megjelenésére. Elsődleges jellem: Halál. Vallása nincs, mert
				hitetlen. Egyszerűen nem ismer el egy istent sem. Északi Városállamokban született, csak innen költöztek ide.
			</p>
		</div>

		<hr>

		<div class="center" id="tudok">
			<h3>Leírás</h3>
			<p class="description"><i>Új kaszt: A tudók</i></p>
		</div>

		<p>A tudók kasztja igen ősi múltra tekint vissza, de létét csak az utóbbi időben fedezte fel a szent inkvizíció.
			Valamikor három mágus ellátogatott egy szigetre nem messze Shadon partjaitól. A sziget lakossága kis falvakban
			lakó közemberekből állt, akiknek semmi hírforrásuk nem volt a külvilággal. Volt azonban hitviláguk. A mágusok
			letelepedtek itt és felemelték varázslótornyukat, ami a mai napig áll. A falvakban azonban a hitvilág hirdetői nem
			nézték jó szemmel a dolgot és fellázították a népet. A mágusok egyetlen éjszaka vérbefolytották a dolgot és a
			vezetőket egytől egyig kivégezték. A vallás ezen a szigeten örökre eltöröltetett. A három mágus azonban
			tanítványokra áhítozott és kénytelen kelletlen a környék embereiből vették magukhoz tudományuk örököseit.
			Döbbenten vették észre milyen jó anyag mellett éltek eddig. A mágusok - hiába voltak remek tanítványok - nem
			tudták átadni tudásukat, mert mágikus kórságok támadták meg őket. Halhatatlan tudásukat könyvekbe fektették -
			ennek folyamatát a torony építésekor kezdték el - és halálvarázslatokkal és leplező mágiával biztosították tudásuk
			sérthetetlenségét. A tanítványaiknak csak a mágia alapjait tanították meg - borzalmas kontárok ők egy igazi
			mágushoz képest - és rájuk hagyták a formulát, amivel a könyveket olvasni tudják. A tanítványok amikor a mesterek
			meghaltak eltemették őket, a könyveket kihozták az épületből és örökre lezárták a tornyot. A könyveket generációk
			alatt ezer és ezer példányban lemásolták, terjesztették a tudást. A Mágusok első tanítványai a régi torony mellett
			egy újat emeltek - ez lett később a rend központja - és ebben őrzik az eredeti kódexeket. Csak az eredetieknél
			biztos az, hogy milyen módszerrel titkosították a szöveget. Az újabb kiadásoknál más fortélyokat alkalmaztak. Van
			Szent példabeszédeket tartalmazó, ősi szöveg fordításának tűnő, stb. A tanítványok hamar túladtak tudásukon, mivel
			rettentően leegyszerűsítve tanították nekik is. A kódexek elterjedtek előbb délen, majd északon. Nehéz őket
			megtalálni, de hatalmas tudást őriznek. Az inkvizítorok az utóbbi száz évben döbbentek rá, hogy a tudók nem
			egyenlők a boszorkányokkal és boszorkánymesterekkel. Nem csoda, hogy összekeverték őket...</p>
		<p>Az igazság és ami odaát van. A tudók első szinten egy kódexet olvastak el, ami három mágia-fejezet használatára
			jogosít fel. A megdöbbentő az az, hogy a boszorkány és a boszorkánymesteri mágia-fejezetekből egyaránt
			választhatnak. Az első hármat a játékos választhatja, de a továbbiakban ki van szolgáltatva a Dm-nek, mert a többi
			tudást - az avatási eskü szerint - a külvilágban fellelt iratokból kell megszereznie. Azt, hogy egy talált
			könyvben milyen varázslatfejezet található a Dm határozza meg. A kaszt tagjai életük fiatalabb éveiben inkább
			fizikai úton védik meg magukat és csak mellékesen használnak mágiát. A harcértékek és képzettségek terén a
			boszorkánymesterrel megegyeznek, bár egyel több HM-et kapnak. Az Fp és Ép is a boszorkánymester szerinti. A
			szintlépést viszont a boszorkány szerint intézik, mert a kaszt tagjai számára úgy van kialakítva a mágiájuk, hogy
			könnyen tanulható legyen. Kp-jük is a boszik szerint számolandó. Dönthet a karakter úgy, hogy szintenként kapott
			Kp-ból 4-et elvon, de helyettük 30%-ot kap, amit tetszés szerint stb, stb. Szintenként ötödik szintig 8, attól 9
			Mp-t kapnak. Ötödik szintig 8 Hm-et, attól kezdve 7 Hm-et kapnak. A Mp visszaszerzésére nincs szabály.
			Rengetegféle metódus járja közöttük. Nézzünk néhány példát: Ima a rég halott mesterekhez; Saját vér feláldozása; A
			Kyr metódus kinyerése, kisajtolása; Valamilyen drog, vagy mágikus lötty szedése; Stb.</p>
		<p>A történészek szerint egyetlenegyszer fordult elő, hogy egy olyan könyvet írtak, ami a mozaikmágia használatát
			adta meg nekik. Az a könyv állítólag elveszett, vagy az inkvizítorok égették el. Eltűnése nem bizonyított.</p>
		<p>Kidolgozta: Black Trush<br>
			E-mail: Rigo&#64;dpg.hu</p>

		<hr>

	</div>

</body>

</html>