<!DOCTYPE html>
<html lang="hu">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Gonis Tue - Karakterleírás</title>
</head>

<body>
	<div class="container">
		<h1>Gonis Tue - Karakterleírás</h1>
		<img src="assets/gonisTue.png" alt="Gonis Tue képe">

		<p><strong>Jellemzők és Háttere:</strong><br>
			Gonis Tue egy olyan karakter, akit első pillantásra talán nehéz lenne pontosan jellemezni, de ha közelebbről
			megismerjük, egy sokrétű és izgalmas személyiség tárul elénk. Természetét legjobban egy bárdbarátnője szavaival
			lehet leírni, aki így jellemzi őt:</p>

		<p class=" italic">„Természetem nyugodt, mint a csermelyvíz,<br>
			Éltem száma több mint tíz.<br>
			Ravasz vagyok, akár a róka, bizony,<br>
			Nem kínoz engem kínzó tériszony.<br>
			Ami kell, az enyém, de nem mindenáron,<br>
			Ám érte a pénzt nem sajnálom.<br>
			Testem-lelkem Domviké, természetesen,<br>
			Hát ő csókoljon, még szelíden édesen!<br>
			Ha eljön értem Darton angyala, én állok elébe,<br>
			Így kerülök akkor az Univerzum szívébe.”</p>

		<p>Ezen versek alapján világossá válik, hogy Gonis egy csendes, visszahúzódó ember, de ha a helyzet megkívánja,
			hősiesen kiáll a harcban. Ő maga is vallja: „Harcban győzelmeket nem erővel, hanem ravaszsággal kell elérni.”, és
			ennek köszönhetően már több alkalommal győzedelmeskedett olyan ellenfelek felett, akiknek ereje messze felülmúlta
			az övét.</p>

		<p>Gonis Tue-t a ravaszság és a találékonyság jellemzi, sokszor a gyengébbek védelmében cselekszik, akárcsak Robin
			Hood. Sosem adja el testét, és sosem gyilkol, ha van más út. A haláltól nem fél, inkább kíváncsian várja azt.
			Számára a halál nem elkerülhetetlen tragédia, hanem az élet természetes része, amit mosolyogva fogad.</p>

		<p>Habár Gonis magabiztos és éles eszű, van egy furcsa gyengesége is: ha igazságos isten vagy istennő temploma
			mellett halad el, nem tudja visszafogni eufóriáját, és gyakran harsány nevetésben tör ki. Ez több ízben vitába
			keveredett már a helyi papsággal, és nem egyszer kellett jelentős összegeket fizetnie kártérítésként.</p>

		<p>Gonis különleges kötődést érez a Fehér Sasok iránt, és ha bármikor védelmükre kelhet, habozás nélkül teszi meg.
			Egy ilyen alkalommal egy harci kutya támadta meg, amely mély sebet ejtett a combján. Gonis azonban gyorsan
			megbosszulta a támadást, és az állatot ártalmatlanná tette.</p>

		<p>Gonis egy kedélyes, társaságkedvelő figura, aki könnyen barátkozik, de sosem veszíti el éberségét. A kapzsiság
			kis mértékben ugyan megérintette, de ez nem veszélyezteti jó jellemét. Cinikus életszemléletével azonban gyakran
			megfűszerezi a beszélgetéseket, és bármilyen témáról legyen szó, szívesen tesz rosszmájú megjegyzéseket.</p>

		<p>Szívében álmodozó, és még mindig várja azt a mesebeli herceget, aki fehér lovon érkezik érte. Ugyanakkor
			tudatában van annak, hogy az életben nem lehet ellanyhulni, mert különben könnyen hátba támadhatják. Mégis,
			valahol mélyen a tündérmesék világában él, ahol az igaz szerelem és a boldogság mindenek felett áll.</p>

		<p>Gonisnak különösen mély érzései vannak a gyerekek iránt. Mindig is próbál „lesüllyedni” az ő szintjükre, és
			szívesen tölti az idejét velük, mert felismerte, hogy a gyerekek intelligensebbek, mint ahogy azt a felnőttek
			általában gondolják.</p>

		<p><strong>Megjelenés és Stílus</strong></p>
		<p>Megjelenése mindig kifogástalan. Sosem jelenne meg szakadt vagy piszkos ruhában, és maga mossa ruháit, hogy
			mindig a legjobb formáját hozhassa. Ruházata általában egy vékony bőrnadrágból és egy fehér ingből áll, amit
			hátizsákja egészít ki, ahol a szükséges eszközeit tartja.</p>

		<p><strong>Testmagassága:</strong> 175 cm</p>
		<p><strong>Hajszíne:</strong> Barna</p>
		<p><strong>Szemének színe:</strong> Zöld</p>

		<p>Gonis rendkívül jó humorérzékkel rendelkezik, és nem szereti, ha környezetében bárki szomorkodik. Az ilyen
			embereket gyakran el is küldi maga mellől:</p>

		<p class="italic">„A mannába! Ha sírni akarsz, akkor ott az ajtó, elég tágas.”</p>

		<p><strong>Származás és Hűség</strong></p>
		<p>Gonis a Shadon Birodalomból származik, és hűséges híve Domviknak, akit a jóság istenének tart. Számára nincs
			fontosabb, mint egy jó ügy, egy isten vagy egy kultusz szolgálata. Elsődleges jelleme a Rend, és ezt minden
			cselekedetében tükrözi.</p>

		<p><strong>Záró Mottó</strong></p>
		<p class="italic">„Az életben, ha majd kutatsz teljesen vakon, vésd az emlékezetedbe: a bölcsesség gyökere az
			önuralom.”</p>

		<p>Gonis Tue egy olyan karakter, akit mindenkinek ajánlok, akár tapasztalt KM, akár kezdő játékos vagy. Kalandjai
			során biztosan izgalmas és felejthetetlen élményeket szerezhetsz vele.</p>

		<p><strong>Életkor:</strong> 27 év</p>
		<p><strong>Kedvenc helye:</strong> Az erdő, ahol szabadidejének nagy részét tölti.</p>

	</div>
</body>

</html>