<!DOCTYPE html>
<html lang="hu">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Emphasis Del Tomorrow</title>

</head>

<body>

	<h1>Emphasis Del Tomorrow</h1>
	<p><em>Written by BlueAdam</em></p>

	<img src="assets/emphasisDelTomorrow.png">
	<div class="character-profile">
		<h2>Character Profile</h2>
		<p><strong>Emphasis Del Tomorrow</strong> szülei már kiskorában észrevették lányuk különleges szépségét. S bár
			szülei ellenére szegődött el a Lótusz Leányaihoz, ahogy őket hívják az yneviek, a szülei ezért még a mai napig sem
			bocsátottak meg neki. „Hát buja kéjnőnek neveltelek én téged? Vagy azért, hogy a férfiak vágyait kielégítsd?” -
			mondta mindig az anyja. Mert hát tudva levő az, hogy Ellana papnői hivatásos kurtizánok, s az istennőjük templomai
			a legismertebb bordélyházak.</p>

		<p>Emphasis mindig is szerette a kihívásokat, ezért állt be a rendbe, bár tudta, hogy döntése súlyos
			következményekkel járhat. Az első kuncsaftjától vesztette el a szüzességét, és bár közben és utána is sírt, hamar
			talpra állt, mert rájött, hogy az élet nem kíméli azokat, akik félnek szembenézni vele. Azóta állandó vendégei
			lettek, és ma már rá sem lehet ismerni: egy erős, határozott nővé vált, aki mindig képes talpra állni. Kemény és
			kitartó jelleme miatt Ellana istennő mindig is kedvelte őt, és engedélyezte neki a kis manipulációt az Egészség
			pontokkal, mert látta benne a lelkierőt és a szenvedélyt, ami hű követőivé teszi a papnőit.</p>

		<p>Emphasis neve kissé egyiptomias, testalkata közepes, arca szűzies, és igen hatásosan tudja színlelni az erényes
			kislányt. Ám persze ez csak álca, az igazság az, hogy imádja élni a nemi életét, amiből a barátai előtt sem csinál
			titkot. Saját bevallása szerint így tud regenerálódni, hiszen a szenvedélyben találja meg az igazi énjét.
			Gyönyörű, tüneményes fekete hosszú haja és smaragdzöld szeme igazán alátámasztja a 20-as Szépséget.</p>

		<p>Az Ellana-papnők különlegessége, hogy szépségüket k6+14-gyel (!) dobják. Így van ez Emphasis-nál is: amikor
			belépett a papnők közé, még szebbé varázsolták őt kenőcseikkel, írjaikkal, balzsamaikkal. Mostanra gyönyörű nővé
			vált, amit a férfiak felvilágosítás nélkül is észrevesznek. Nem szereti lekötelezni magát egyvalakihez, ezért
			rengeteg barátja volt élete eddigi 19 évében. Szerfölött szereti a romantikát, és a romantikus költeményeket, sőt,
			még ő maga is ír verseket. Jelenlegi életkora 19 év, középmagas és közepes testalkatú, testének minden vonása
			harmóniát sugároz, ugyanakkor van benne valami megfoghatatlan erő, ami szinte mágnesként vonzza a férfiakat.</p>

		<p>Emphasis allergiás a takarmányokra, és ha a közelében ilyen van, kiütések jelennek meg az egész testén. Ez a
			furcsa érzékenység mindig is nehezítette életét, de soha nem hagyta, hogy ez akadályozza őt céljai elérésében. A
			könyvek olvasását magasan megveti, mert úgy érzi, hogy az igazi tudást az élet adja, nem pedig a papíron leírt
			szavak.</p>

		<p>Természetét maga írja le egyik szerelmes levelében: „Szerelmem a pokol tüzével éget, de lelkedet felviszi a
			paradicsomba.” Vad, tüzes, szenvedélyes mivolta miatt sokan nehezen tűrik a papnők között, de ők is elismerik,
			hogy Emphasis az, aki mindig a legnagyobb kihívások közepette is helytáll. Igen szeleburdi, gyakran követ el
			hibákat, de ilyenkor erkölcsösen elpirul, mintha a sors is arra kényszerítené, hogy szembesüljön gyengeségeivel,
			mielőtt ismét felállna.</p>

		<p>A papnők között igen kevés jut az anyagiakra, és ha marad is egy kis mellékes, azt Emphasis odaadja a
			szegényeknek, mert úgy érzi, hogy az ő feladata nemcsak a testi örömök nyújtása, hanem a szívek megérintése is.
			Mint majdnem minden lány, veszélyben nagyon félénk. Ha teheti, elbújik a legközelebbi fa vagy kő mögé, de ha nincs
			más választása, képes szembeszállni a legnagyobb félelmeivel is.</p>

		<p>Munkájában és feladataiban rendkívül kitartó; ha kell, éjfélig dolgozik egy költeményen, csak azért, mert
			megígérte magának, hogy befejezi még ma. Életszemlélete derülátó, és nincs olyan rossz hír, aminek ő ne látná a
			happy endjét. Általános hozzáállása természetes, fellépése kiismerhetetlen: sosem tudni előre, hogy éppen milyen
			hangulatban lesz.</p>

		<p>Megjelenése mindig igényes; naponta többször fürdik tejben, mint Kleopátra, hogy megőrizze bőre puhaságát és
			szépségét. A templomban hosszú tunikát visel, ilyenkor egy pici tőrt rejt diszkrét helyen, a mellénél, amit csak
			végső esetben használ. Ha kimozdul istene házából, egy topszerű ruhát és testhez simuló bőrnadrágot visel, amelyek
			kiemelik alakját. Ha valami estélyre megy, feltétlenül láttatni akarja a combját, ilyenkor a teremben lévő többi
			lány majd' megpukkad az irigységtől. Emphasis családja nemesi származású; unokatestvére volt az ex-uralkodó
			feleségének, aki még ma is él.</p>

		<p>S végül a karakterem bemutatásának a végén álljon az a himnusza, melyet Ellanának a Szerelem, a Szépség, a Kéj és
			a
			Léhaság istennőjének írt (Őt csak a szerelem és a kéj arculata hozza lázba):</p>
	</div>

	<div class="poem">
		<h2>Szerelemhimnusz</h2>
		<p>Ó, te szép, áldott Szerelem,<br>
			Légy oly vad, amint képzelem!<br>
			Kérlek, add meg nekem életem,<br>
			Hisz olyan vagy, mint ahogyan képzelem.</p>

		<p>Törj utat magadnak, te vak,<br>
			Hisz tőled űz el a Pénz, az agg ember szalad,<br>
			A szavadra életkor gyorsan halad,<br>
			S ha a kaszás Halál sebesen arat,<br>
			Neked hatalmad még akkor is marad.</p>

		<p>Könyörögj érettünk, áldott, szép Szerelem,<br>
			Hisz már hatalmadat megmutattad érettünk.<br>
			S ha szétvet az őrjítő, mindent elsöprő Vágy,<br>
			Még akkor is megmarad a Szent Talány.</p>

		<p>Ó, te hatalmas, gyönyörű érzelem,<br>
			Már annyiszor ért engem miattad sérelem,<br>
			Hogy már magam sem tudom,<br>
			Ám ezt a gondolatot a lelkem bugyraiba teljesen eldugom.<br>
			S ha mégis rád gondolok, én akkor a helyemről azonnal felugrom.</p>

		<p>Odaadom érted testem, lelkem, szüzességem,<br>
			Hisz tudhatod, az én legfőbb erényem az engedelmességem.<br>
			Nálunk már a Vágy a határtalan úr,<br>
			Engem pedig soha-soha meg nem ún.</p>

		<p>Vedd hát e költeményt,<br>
			S ne nézz erényt, embert, eredményt.<br>
			Mert neked írtam ezt a himnuszt, ó, neked, Szerelem,<br>
			Te határtalan képzet, te gyönyörű érzelem.<br>
			Mennyi erőd van neked, azt már el sem képzelem.</p>

		<p>Ó, te hatalmas istennő, te fenséges, legszebb dolog,<br>
			Nélküled az ember nem lehet teljesen boldog.<br>
			Én, mint hű szolgád, leborulok előtted,<br>
			Te a sok hamisságot, bűnt mind elkerülted.</p>

		<p>Ezért hálásak vagyunk neked,<br>
			Csak mi vagyunk a megfelelő emberek,<br>
			Hogy nevedet dicsőítsük, mi gyenge kis képzeletek.<br>
			Ezért minket a Főisten miért kezel le?<br>
			Hiszen mi vagyunk a világ képzelete, kimeríthetetlen eleme.</p>

		<p>Ennyi lenne e kis himnusz,<br>
			Remélem, van benne egy kis spiritusz.<br>
			Adj nekünk erőt, életet, békét,<br>
			S dicsőítjük neved, több mint eléggé.</p>
	</div>

</body>

</html>