<h2>Ibeadra Veronika Teacea</h2>

<img src="assets/veronica.png" alt="Ibeadra Veronika Teacea képe">
<blockquote>
	<p>„Cselekedj a természet rendje szerint, sose erőltesd a dolgokat, ne keresd a túlzásba vitt gyönyört, lásd meg a
		nagyot a kicsinyben, lásd meg a sokat a kevésben, a rosszat is jóval viszonozd!”</p>
	<p>– Lao Er’on bárd szavai a tökéletes harmóniáról, <br>
		részlet <em>A Bárdok Ihletének Fenntartása Varázslatok Nélkül</em> című műből</p>
</blockquote>

<hr>

<p>A fenti szavak egy háborítatlan elméjű „dalköltő” ajkáról hangzottak el, egy olyan lélekből, aki megőrizte a belső
	békét a sötétség ködös ösvényein. Élete 109 esztendeje alatt 20 kötetet írt a bárdok művészetéről, melyek között olyan
	címszavak találhatók, mint a <em>Dalmágia Felhasználása</em> és <em>Bárdmágia Csakis a Jó Szolgálatában</em>. Néhányan
	őrültként emlegették, mások szellemóriásként, de nekünk nem ő a fontos. Sokkal inkább az egyik távoli tanítványa, aki
	minden írását átrágta és megtanulta. Ez a tanítvány nem más, mint Ibeadra Veronika Teacea, a nyugodt és elmélkedő,
	kedves nő, akinek élete sötét mélységeiből mégiscsak fény tör elő.</p>

<h3>Veronika Története</h3>
<p>Veronika szegény családban nőtt fel, és egy gyógyíthatatlan betegség árnyéka vetült rá. Az orvosok diagnózisa szerint
	a lány testét olyan apró, de veszedelmes „lények” támadták meg, amelyek lassan felőrölték életét. A betegség, amit ma
	rákként ismernénk, napról napra elragadta erejét. Szülei már felkészültek a legrosszabbra, ám egy nap egy titokzatos,
	szakadt ruhájú idegen érkezett a házukba.</p>
<p>A férfi, akit útja pora és izzadtsága borított, szállást kért tőlük. Veronika szülei, akik soha nem tagadtak meg
	segítséget a rászorulóktól, befogadták az ismeretlent, és megosztották vele szerény vacsorájukat. Miközben a vacsora
	alatt szóba került a lányuk szenvedése, a férfi, aki nem más volt, mint egy vándorbárd, hosszas gondolkodás után így
	szólt:</p>

<blockquote>
	<p>„A lányotok nem fog meghalni! Meggyógyítom őt, de egy feltétellel: ha felépül, kalandornak kell állnia – nem
		egyszerű harcosnak, hanem Szerencsevadász Bárdnak.”</p>
</blockquote>

<p>A szülők kétkedtek, de reményük apró szikráját nem tudták elfojtani. „Egy próbát megér” – ez a mondat csengett a
	fülükben, és beleegyeztek, hogy az utazó bárd megpróbálkozzon a gyógyítással.</p>

<h3>A Gyógyítás Rituáléja</h3>
<p>Az ismeretlen bárd mély meditációba merült, olyan hosszú ideig, hogy arca lassan megöregedni látszott. A
	koncentrációját megszakítva saját varázslata emésztette volna fel, de kitartott, mert a lány élete forgott kockán.
	Olyan ősi, gonosz erőket szabadított fel, amelyeket csak a világ sötét, elátkozott vidékein találtak meg. Mikor
	meghallotta Veronika történetét, rájött, hogy csak a régi, hatalomszókkal átitatott Aquir mágia segíthet rajta. E
	szavak erejével ölni és gyógyítani is lehetett – ő az utóbbit választotta.</p>
<p>Amint a szavak elhangzottak, Veronika testéből elszállt a gonosz lélek, és a lány, aki eddig haldoklott, lassan
	feltápászkodott gyűrt párnájáról. A jó győzedelmeskedett a gonosz fölött. Jin és Jang, Tűz és Víz most eggyé vált
	benne. Mostantól ő irányította saját testét és lelkét.</p>

<h3>A Bárd Távozása</h3>
<p>A titokzatos vendég, miután jóltartották és némi pénzt is adtak neki, elköszönt, anélkül hogy nevét elárulta volna.
	Semmit sem mondott a hatalmas varázsmondatról, amelyet kiejteni egyszerű ember számára szörnyű kín lett volna.
	Távozása előtt azonban még egyszer emlékeztette a szülőket:</p>

<blockquote>
	<p>„Mivel a lányotok még kicsi, tanuljon, amíg el nem érkezik az idő. De pontosan húsz esztendő múlva induljon útnak,
		teljesen egyedül! Mert a bárd erénye a bátorság.”</p>
</blockquote>

<p>És ezzel eltűnt a homályba vesző úton, hátrahagyva egy lányt, aki végzete felé lépdelni készült.</p>

<hr>

<h3>Veronika Jelleme</h3>
<p>Ibeadra Veronika Teacea egy békés, álmodozó természetű lány, aki mentes minden gonoszságtól és kapzsiságtól. Hiszi,
	hogy a művészet örök, míg az élet csupán röpke illúzió. Szabadidejét a természet lágy ölén tölti, ahol lantján dalokat
	komponál, hangja pedig olyan tiszta és üde, hogy a madarak is elhallgatnak, mikor énekel.</p>

<blockquote>
	<p>„Vár ránk egy szerelmes nyár, ezen túl csak az enyém vagy már. Vigyen bármerre az élet, visszatér most a szív, <br>
		szerelem-szigetén a Vágy minket hív. Szerelem, Szerelem, te gyönyörű érzelem!”</p>
</blockquote>

<p>Bár dalaiban gyakran szól a szerelemről, Veronika még maga sem tapasztalta meg annak erejét. Nem talált még olyan
	férfit, aki méltó lett volna hozzá, és bár sokan próbálkoztak, ő inkább a költészet mesterségét helyezi előtérbe, ami
	ugyan nem hoz számára gazdagságot, de mindeddig a szegénység sem törte meg akaratát.</p>
<p>Barátait is alapos megfontolás után választja meg. Kezdetben tartózkodó, de ha valaki igaz barátságot ajánl neki, és
	bebizonyítja jószándékát, Veronika hűséges társ lesz az élet küzdelmeiben. Pénzét takarékosan kezeli, de a
	rászorulókat sosem hagyja segítség nélkül – még ha maga is a szegénység határán áll.</p>
<p>Veszélyhelyzetekben gyakran visszahúzódik, hiszen bárd létére nem szokott hozzá a küzdelemhez. Azonban ha valamilyen
	feladatot bíznak rá, azt mindig lelkiismeretesen és odaadással végzi el, apja tanítása szerint: „Ha szegény vagy,
	legalább dolgozz jól, és odaadással!”</p>
<p>Életszemlélete derűlátó, hiszi, hogy a legjobb lehetőségek még mindig várnak rá. Kedélyvilága álmodozó, mint minden
	bárdé, aki igazán képes alkotni. Az ismeretlen dolgokhoz mindig megértéssel fordul: „Semmit se ítélj el addig, amíg
	nem bizonyítódik be az ellentettje.” – mondta neki egykor bölcs apja.</p>
<p>Fellépése szolid, nem henceg, de nem is hagyja magát megalázni. Szereti a tréfákat, és szívesen mesél és hallgat
	vicceket. Élete középpontjában az élet tisztelete áll, imádja Alborne istenét, aki a Harmónia és a művészetek őre.</p>

<h3>Veronika Megjelenése</h3>
<p>Ibeadra Veronika Teacea külsejében megkapó jelenség. Gömbölyű arca és hosszú, aranyszőke haja tökéletesen illeszkedik
	égszínkék szemeihez, amelyek sok férfi szívébe lopják magukat. Bár 25 éves, könnyedén 18-nak is mondhatnák. Magassága
	a nők között kimagasló, 170 cm, súlya pedig 61 kg, amit pont ideálisnak tartanak, bár Veronika, mint sok nő, nem
	teljesen elégedett vele.</p>
<p>Nem visel fülbevalót, mivel utálja azt, de nyakát egy vékony ezüstlánc fonja körül. Ruházata egyszerű és praktikus:
	egy durva szövetű tunikaszerű ruha és egy férfinadrág, amely még inkább a küzdelmek világára emlékezteti az őt
	látókat. A melleit csak egy melltartószerűség fedi, amit maga készített állatbőrből. Nadrágja fekete, érdes szövésű,
	amely szintén a férfiak világára emlékeztet.</p>
<p>Fegyverei: egy hosszúkard, amit derekán visel dísztelen tokban, és egy íj, amit hátán hord a tokjában. Ezen kívül egy
	nagy hátizsák is lóg a hátán, amelyben számos apróságot visel. Kinézete középszerű, hiszen nem sokat törődik
	ruházatával. Lábára fekete bakancsot húz. Végül, de nem utolsósorban, szülőföldje Ilanor, ahol bárdnak született és
	bárdnak is marad.</p>
<p><strong>Női bárd karakter, kedves arccal, jó testalkattal!</strong></p>
<p><strong>Nőneműek előnyben.</strong></p>