        .content {
          padding: 20px;
        }

        .footer {
          text-align: center;
          padding: 20px;
        }

        a {
          color: #9b9a97;
          text-decoration: none;
        }

        a:hover {
          color: #ffffff;
        }

        .creative-commons img {
          height: 22px;
          vertical-align: text-bottom;
          margin-left: 3px;
        }
