<div>
	<img src="assets/logo.png" width="350px">
	Ancient Chronicles: Archive of M.A.G.U.S. Monsters, Classes, and Adventures
</div>
<div class="content">
	<h1>Üdvözöllek, Vándor!</h1>
	<p>
		Lépj be a titokzatos archívumok birodalmába, mely a M.A.G.U.S. szerepjáték Első Törvénykönyvének rejtélyes világát
		őrzi. Ezen művek az ezredforduló fátyolos időszakában (2001-2002) születtek és most, egy régi, bűvölettel teli CD
		mélyéről kerültek elő. E hosszú évek során, a 2023-as esztendő májusi alkonyán találtam rá újra ezen kincsekre,
		megóvva őket az örök feledéstől.
	</p>
	<p>
		A múlt szelei hosszú hónapokon át suttogtak, kérve, hogy élesszem újjá a lényeket, a kasztokat és a kalandokat, hogy
		újra útra kelhessenek az RPG világában. E célból varázsoltam elő egy lemezújság-szerű felületet Angular 18
		segítségével.
	</p>
	<p>
		Az idő vasfoga azonban nem kímélte az írásokat; keveset hagyott sértetlenül a karakterek és szörnyek kivételével.Két
		évtized távlatából már lehetetlen volt folytatni a félbeszakadt gondolatokat. Így hát a ChatGPT mágikus erejére
		támaszkodtam, hogy befejezzem a kalandmodulokat és kijavítsam a szövegekben megbúvó hibákat. A lemezen talált versek
		– melyeket ifjú bűvöletben, a M.A.G.U.S. varázslatának hatása alatt írtam – szintén új életre keltek, bár a mai
		szemmel már misztikus köd lepi őket.
	</p>
	<p>
		Mint egy igazi bárd, aki a szellemekről és vámpírokról szóló énekeket zeng, úgy születtek ezek a költemények. A
		lemezújság zenei dobozához az Suno AI segítségével négy RPG-hangulatú instrumentális zeneszámot teremtettem meg és
		négy saját versomat is felöltöztettem bárdi előadásmódba.
	</p>
	<p>
		Az itt bemutatott művek, melyek Dr. Porkoláb Ádám alkotásai, magáncélra szabadon felhasználhatóak, de kereskedelmi
		célú közzétételhez engedély szükséges. A művek a Creative Commons Attribution-NonCommercial-ShareAlike 4.0
		International licensz alá tartoznak.
	</p>
	<p>
		Kérdéseid vagy észrevételeid esetén bátran írj az <a href="mailto:adam@porkolab.hu">adam&#64;porkolab.hu</a> címre.
	</p>
	<p class="footer">
		Pécsett, Psz.: 3711. Krad Negyedik Hava - Felemelkedők, 10. napja.<br>
		Dr. Porkoláb Ádám
	</p>
	<p class="creative-commons">
		This work is licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/?ref=chooser-v1"
			target="_blank" rel="license noopener noreferrer">Creative Commons Attribution-NonCommercial-ShareAlike 4.0
			International
			<img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt="CC">
			<img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt="BY">
			<img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" alt="NC">
			<img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" alt="SA">
		</a>
	</p>
</div>